p{
    border: 1px  solid black;
    width:20%;
    display: inline-block;
    padding: 20px;
    border-radius:30px;
    margin: 30px;
    font-family:Arial;
    color:beige;
    box-shadow : 0px 0px 20px black;
    text-align: justify;

}
.cl{ 
    background:linear-gradient(90deg, yellow,(23, 199, 117),gray
    (129, 19, 85));
}
#id1{ 
    background: linear-gradient(45deg, rgb(7, 7, 206), rgb(25, 206, 206));
}
.c2{
    background: linear-gradient(135deg,red,rgb(168, 175, 168))
}